* {
  font-family: sans-serif;
  box-sizing: border-box;
  background: #e3f2fd;
}

nav {
  background: #e3f2fd;
  font-size: 1.2em;
  width: 100%;
  float: left;
  margin: 2%;
}

nav a {
  padding: 2% 2.5% 2% 2.5%;
  color: black;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background: #9575cd;
}

.rightmove {
  padding-left: 5%;
  text-decoration: none;
  background: none;
  font-weight: bold;
}

nav a:hover.rightmove {
  background: none;
}

img {
  
}
