* {
  font-family: sans-serif;
  box-sizing: border-box;
  /*background: #E3F2FD;*/

}
html{
  background-image: linear-gradient(to bottom right, #68b2f2, #c49eed);
  background-repeat: no-repeat;
  margin: 0
  background-color: #c49eed;
  min-height: 100%;
  background-attachment: fixed;
}

nav {
  font-size: 1.5em;
  width: 100%;
  float: left;
  margin: 1%;
}

nav a {
  padding: 1% 1.5% 1% 1.5%;
  color: black;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background: #9575CD;

}

.flex-container{
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 90%;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item{
  width: 40%;
  margin-top: 10px;
  border: solid black;
  order: 1;
}

p {
  margin-left: 2em;
  font-size: 20px;
  max-width: 1000px;
  text-align: center;
}

hr {
  size: 5px;
  color: black;
}
