* {
  font-family: sans-serif;
  box-sizing: border-box;
  background: #E3F2FD;
}

nav {
  font-size: 1.5em;
  width: 100%;
  float: left;
  margin: 1%;
}

nav a {
  padding: 1% 1.5% 1% 1.5%;
  color: black;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background: #9575CD;

}

.column {
  float: left;
  width: 40%;
}

.row:after {
  display: table;
  clear: both;
}

.row {
  width:auto;
}

.rightmove{
  padding-left: 10%;
  text-decoration: none;
  background: none;
  font-weight: bold;
}

nav a:hover.rightmove {
  background: none;
}

div .column{
  border: 1px solid gray;

}

.left {
  padding: 0 10px 10px 0;
  }

p {
  margin-left: 2em;
  font-size: 20px;
}

hr {
  size: 5px;
  color: black;
}
