* {
  font-family: sans-serif;
  box-sizing: border-box;
  background: #E3F2FD;
}

nav {
  font-size: 1.2em;
  width: 100%;
  float: left;
  margin: 2%;
  border-radius: 4%;
}

nav a {
  padding: 2% 2.5% 2% 2.5%;
  color: black;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background: #9575CD;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  display: table;
  clear: both;
}

.row {
  width:auto;
}

.rightmove{
  padding-left: 10%;
  text-decoration: none;
  background: none;
  font-weight: bold;
}

nav a:hover.rightmove {
  background: none;
}

img{
  width: 200px;
  height: 150px;
}

div .column{
  border: 1px solid black;

}

.left {
  padding: 0 10px 10px 0;
}
